.export-excel-container {
  width: 100%; 
  padding: 12px;
  background-color:#f9f9f9; 
  border-top: 1px solid rgb(226, 222, 222); 
  border-bottom: 1px solid rgb(224, 219, 219); 
  border-radius: 2px; 
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
}

.export-excel-button {
  background-color: green;
  color: white;
  padding: 7px 14px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  float: right; 
  clear: both; 
  
}

.export-excel-button:hover {
  background-color: rgb(2, 55, 2);
}